.white {
    background-color: white;
}

.purple {
    background-color: rebeccapurple;
}

.red-pink {
    background-color: #c93950;
}

.orange {
    background-color: goldenrod;
}

.red {
    background-color: red;
}

.gray {
    background-color: slategrey;
}

.green {
    background-color: lightgreen;
}