@import "./sidebar.css";
@import "./docs.css";
@import "./app.css";
@import "./dropdown.css";
@import "./colors.css";
.main {
    background-color: lightslategray;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}