@import "./app.css";
@import "./navbar.css";
@import "./grid.css";
@import "./colors.css";
@import "./material.css";
.home {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.zone-1 {
    height: 30% !important;
    display: flex;
    flex-direction: column;
    background-color: #2460A7FF;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}

.spaced {
    margin: 10px;
}

.logo>img {
    width: 64px;
    height: 64px;
}

.zone-2 {
    height: 70%;
    background-color: #85B3D1FF;
    overflow-y: auto;
}

.panel {
    height: 250px !important;
}

.code {
    pointer-events: none;
}

.terminal {
    background-color: black;
}

.lang {
    color: red;
}

.seperator {
    font-size: 25px;
    margin: auto 5px;
    text-align: center;
}

.marker {
    color: whitesmoke;
}

.prog {
    color: darkgreen;
    width: 90% !important;
}

.json {
    background-color: transparent;
    border: none;
    width: 90% !important;
}

.lang,
.marker,
.prog {
    margin-right: 5px;
    margin-left: 5px;
}

.image-feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 5px;
    min-height: 250px;
}

.image-feature>img {
    margin: auto;
    width: 64px;
    height: 64px;
}

.feature {
    font-weight: bolder;
    font-size: 20px;
    height: 100%;
    margin: auto;
    text-transform: uppercase;
    word-wrap: break-word;
}